<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        Cabelereiro
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/agenda" routerLinkActive="active">AGENDA <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/agendamento" routerLinkActive="active">RESERVAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/contatos" routerLinkActive="active" href="">CONTATOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/configuracao" routerLinkActive="active" >CONFIGURAÇÕES</a>
            </li>
        </ul>
    </div>
</nav>
