<nav class="navbar navbar-expand-lg navbar-dark text-white" [style]="'background-color: '+ corSite!.valor">
    <a class="navbar-brand" href="#">
       
        <img *ngIf="infoSalao!.imagemBase64 == ''" [src]="'../assets'+infoSalao?.valor" width="30" height="30" alt="">
        <img *ngIf="infoSalao!.imagemBase64 != ''"  [src]="'data:image/png;base64,' + infoSalao?.imagemBase64" width="30" height="30" alt="">
        {{ infoSalao?.descricao}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/agenda" routerLinkActive="active">AGENDA <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/agendamento" routerLinkActive="active">RESERVAR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/admin/contatos" routerLinkActive="active" href="">CONTATOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active mouse" [matMenuTriggerFor]="menu" routerLinkActive="active" >CONFIGURAÇÕES</a>
            </li>

        
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarPerfil()">Perfil</button>
              <button mat-menu-item routerLink="/admin/configuracao" >Configurações</button>
              <button mat-menu-item routerLink="/login">Sair</button>
            </mat-menu>
        </ul>
    </div>
</nav>
