<div class="bg-light" id="Servico">
    <div class="container mb-5 mt-5">
        <div class="row">
            <h2 class="col-12 text-center mt-5 mb-5">SERVIÇOS</h2>
    
            <div class="col-5 mb-5" *ngFor="let servico of servicos">
                <div class="card" style="width: 18rem;">
                    <img *ngIf="servico.servico!.imagem != ''" class="card-img-top" src="../assets/imagens/imagem_salao_1.jpg" alt="Serviços">
                    <div class="text-center" style="padding: 60px; color: rgb(0, 0, 0); background-color: rgb(229, 229, 229);" *ngIf="servico.servico?.imagem == ''">
                        <span  class="material-symbols-outlined" style="font-size: 5em; color: rgb(0, 0, 0);">
                            content_cut
                        </span>
                    </div>
                    
                    <div class="card-body">
                      <h4 class="card-title">{{ servico.servico?.nome}} - {{ servico.tipoServico?.nome}}</h4>
                      <p class="card-text">{{ servico.servico?.descricao}}</p>
                    </div>
                   
                         <button type="button"  [style]="'background-color: '+ corSite +';'" class="btn btn-md text-white text-center">
                            <a href="home#Contato" class="link">
                                Entrar em Contato
                            </a>
                         </button>
                    
                  </div>
            </div>
        </div>
    </div>
</div>
