<div class="bg-light" id="Servico">
    <div class="container mb-5 mt-5">
        <div class="row">
            <h2 class="col-12 text-center mt-5 mb-5">SERVIÇOS</h2>
    
            <div class="col-5 mb-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../assets/imagens/imagem_salao_1.jpg" alt="Serviços">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">AGENDAR</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
