<div class="card">
    <h3 class="card-header">Horário de Funcionamento</h3>
    <div class="card-body">
      <div class="form-check mt-2" >
        <input class="form-check-input" type="checkbox"  [ngModel]="segunda!.valor == 'true'" id="segunda" (ngModelChange)="segunda!.valor = $event.toString()">
        <label class="form-check-label" for="segunda">
          Segunda-Feira <input type="time" [ngModel]="segunda!.dataInicial" step="1" (ngModelChange)="segunda!.dataInicial = $event"  >
          até <input type="time" [ngModel]="segunda!.dataFinal" step="1" (ngModelChange)="segunda!.dataFinal = $event"  >
        </label>
      </div>
      <div class="form-check mt-4" >
        <input class="form-check-input" type="checkbox" [ngModel]="terca!.valor == 'true'" id="terca" (ngModelChange)="terca!.valor = $event.toString()">
        <label class="form-check-label" for="terca">
          Terça-Feira  <input type="time" [ngModel]="terca!.dataInicial" step="1" (ngModelChange)="terca!.dataInicial = $event"  >
          até <input type="time" [ngModel]="terca!.dataFinal" step="1" (ngModelChange)="terca!.dataFinal = $event"  >
        </label>
       
      </div>
      <div class="form-check mt-4" >
        <input class="form-check-input" type="checkbox"  [ngModel]="quarta!.valor == 'true'" id="quarta" (ngModelChange)="quarta!.valor = $event.toString()">
        <label class="form-check-label" for="quarta">
          Quarta-Feira <input type="time" [ngModel]="quarta!.dataInicial" step="1" (ngModelChange)="quarta!.dataInicial = $event"  >
          até <input type="time" [ngModel]="quarta!.dataFinal" step="1" (ngModelChange)="quarta!.dataFinal = $event"  >
        </label>
      </div>
      <div class="form-check mt-4" >
        <input class="form-check-input" type="checkbox"  [ngModel]="quinta!.valor == 'true'" id="quinta" (ngModelChange)="quinta!.valor = $event.toString()">
        <label class="form-check-label" for="quinta">
          Quinta-Feira <input type="time" [ngModel]="quinta!.dataInicial" step="1" (ngModelChange)="quinta!.dataInicial =  $event"  >
          até <input type="time" [ngModel]="quinta!.dataFinal" step="1" (ngModelChange)="quinta!.dataFinal = $event"  >
        </label>
      </div>
      <div class="form-check mt-4" >
        <input class="form-check-input" type="checkbox"  [ngModel]="sexta!.valor == 'true'" id="sexta" (ngModelChange)="sexta!.valor = $event.toString()">
        <label class="form-check-label" for="sexta">
          Sexta-Feira <input type="time" [ngModel]="sexta!.dataInicial" step="1" (ngModelChange)="sexta!.dataInicial = $event"  >
          até <input type="time" [ngModel]="sexta!.dataFinal" step="1" (ngModelChange)="sexta!.dataFinal = $event"  >
        </label>
      </div>
      <div class="form-check mt-4" >
        <input class="form-check-input" type="checkbox"  [ngModel]="sabado!.valor == 'true'" id="sabado" (ngModelChange)="sabado!.valor = $event.toString()">
        <label class="form-check-label" for="sabado">
          Sábado <input type="time" [ngModel]="sabado!.dataInicial" step="1" (ngModelChange)="sabado!.dataInicial = $event"  >
          até <input type="time" [ngModel]="sabado!.dataFinal" step="1" (ngModelChange)="sabado!.dataFinal = $event"  >
        </label>
      </div>
      <div class="form-check mt-4" >
        <input class="form-check-input" type="checkbox"  [ngModel]="domingo!.valor == 'true'" id="domingo" (ngModelChange)="domingo!.valor = $event.toString()">
        <label class="form-check-label" for="domingo">
          Domingo <input type="time" [ngModel]="domingo!.dataInicial" step="1" (ngModelChange)="domingo!.dataInicial = $event"  >
          até <input type="time" [ngModel]="domingo!.dataFinal" step="1" (ngModelChange)="domingo!.dataFinal = $event"  >
        </label>
      </div>
      <button class="btn btn-primary mt-3" (click)="atualizarHorario()">Atualizar Horário de Funcionamento</button>
    </div>
  </div>
