 <h2 mat-dialog-title>{{ titulo }}</h2>

    <form [formGroup]= "form" class="p-4 col-12" id="servico">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Digite o nome">
        </div>
        
        <div class="form-group">
            <label for="tipoServicoId">Tipo de Serviço</label>
            <select class="form-control" id="tipoServicoId" formControlName="tipoServicoId">
                <option disabled selected>Selecione o tipo de serviço</option>
                <option *ngFor="let tipoServico of tiposServico" [value]="tipoServico.id">{{tipoServico.nome}}</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" formControlName="descricao" id="descricao" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="imagem"></label>
            <input type="file" formControlName="imagem" class="form-control" id="imagem" placeholder="Selecione uma Imagem">
        </div>
       
    </form>

<mat-dialog-actions align="end">
  <button class="btn btn-secondary mr-2" (click)="close()">Fechar</button>
  <button *ngIf="editar == false" class="btn btn-primary" (click)="onSubmit(form.value)">Salvar</button>
  <button *ngIf="editar == true" class="btn btn-primary" (click)="editarServico(form.value)">Editar</button>
</mat-dialog-actions>