<form [formGroup]= "form" class="container p-3" id="Agendamento">
    <div class="form-row">
        <div class="col-12" align="end">
            <button [matMenuTriggerFor]="menu" *ngIf="agendamento.status == 0" type="button" class="btn btn-warning text-white">Agendado</button>
            <button [matMenuTriggerFor]="menu" *ngIf="agendamento.status == 1"  type="button" class="btn btn-primary text-white">Agendamento Confirmado</button>
            <button [matMenuTriggerFor]="menu" *ngIf="agendamento.status == 2"  type="button" class="btn btn-success text-white">Finalizado</button>
            <button [matMenuTriggerFor]="menu" *ngIf="agendamento.status == 3"  type="button" class="btn btn-darger text-white">Cancelado</button>
        
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="alteraStatus(0)" >Agendado</button>
              <button mat-menu-item (click)="alteraStatus(1)" >Agendamento Confirmado</button>
              <button mat-menu-item (click)="alteraStatus(2)" >Finalizado</button>
              <button mat-menu-item (click)="alteraStatus(3)">Cancelado</button>
            </mat-menu>
        </div>
        <h2 class="col-12">Edita Agendamento: {{agendamento.id}}</h2>
        
    </div>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" formControlName="Nome" class="form-control" id="nome" placeholder="Digite o nome">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="Email" class="form-control" id="email" placeholder="Digite o email">
    </div>
    <div class="form-group">
        <label for="telefone">WhatsApp</label>
        <input type="text" formControlName="Telefone"  class="form-control" id="telefone" placeholder="Digite o telefone">
    </div>
    <div class="form-group">
        <label for="servicoId">Serviço</label>
        <select class="form-control" id="ServicoId" formControlName="ServicoId">
            <option disabled selected>Selecione o assunto</option>
            <option *ngFor="let servico of servicos" [value]="servico.servico?.id">{{servico.servico?.descricao}}</option>
        </select>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="dataAgendamento">Data de Agendamento</label>
                <input type="date" formControlName="DataAgendada"  class="form-control" id="dataAgendamento">
            </div>
            <div class="col">
                <label for="horarioAgendamento">Horário Agendamento</label>
                <input type="time" formControlName="HorarioAgendamento" class="form-control" id="HorarioAgendamento">
            </div>
        </div>
       
    </div>
    <div class="form-group">
        <label for="mensagem">Descrição</label>
        <textarea class="form-control" formControlName="Descricao" id="mensagem" rows="3"></textarea>
    </div>
    <button type="submit" (click)= "onSubmit(form.value)" class="btn btn-primary btn-block">Salvar</button>
</form>

